/*css reset for all default margins.*/
*{
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}

body{
	background: #C7AF81;
	color: white;
}

#fullCalculator{
	background: #003485;
	width: 320px;
	height: 480px;
	margin: auto auto;
}

h1 {
	height: 25px;
	font-family: Orbitron;
	font-size: 1.25em;
	text-align: center;
}

.calc{
	width: 100%;
	height: 80%;
	display: flex;
	flex-wrap: wrap;
}

.display{
	box-sizing: border-box;
	width: 95%;
	height: 15%;
	font-family: Orbitron;
	font-size: 2.5em;
	margin: 0 auto;
	padding: 3%;
	text-align: right;
	background: #F2F1EE;
	color: black;
}

.deleteButtons{
	width: 100%;
	height: 8%;
	margin: 2%;
	display: flex;
	justify-content: space-between;
}

.deleteButtons button{
	width: 45%;
	background: red;
	color: white;
	font-weight: bold;
	border-radius: 5% / 20%;
}

.numButtons{
	margin-top: 2.2%;
	width: 75%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap-reverse;
}

.numButtons button{
	height: 40px;
	width: 30%;
	margin-bottom: 5%;
	background: #E2EBE7;
	color: black;
	border-radius: 10% / 18%;
}

.opButtons{
	width: 25%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.opButtons button{
	height: 40px;
	margin-bottom: 5%;
	background: #191919;
	color: white;
	border-radius: 15% / 18.75%;
}

button{
	font-family: Orbitron;
	width: 50px;
	height: 40px;
	font-size: 150%;
}

.button_0{
	order: -1;
}

.decimal{
	order: -1;
}

.equal{
	order: -1;
}

footer{
	height: 5%;
	margin: 10% 3% 0%;
	font-family: Orbitron;
	font-size: .9em;
}

@media (min-height: 481px) {
	#fullCalculator {
		margin: 10% auto;
	}
}